<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kioskSettings</key>
	<array>
		<dict>
			<key>Key</key>
			<string>showHomeIcon</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>sv_screenVideoEnabled</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailOnAccelTrigger</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLink6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>airPrint_PrintInfoOutputType</string>
			<key>Value</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID9</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>motionResetPeriod</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailOnBatteryDischargeToLowerZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>refreshTime</string>
			<key>Value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_5</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_remoteUpdatePolicy</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_lowpassFilterCutoffFrequency</string>
			<key>Value</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>KWC_ServerMinRequiredVersion</string>
			<key>Value</key>
			<string>040701</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>logMotionNoLongerDetected</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailWhenUnpluggedInNormalZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logBatteryBelowTriggerPercentage</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName4ForURLPattern4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID1</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_cacheSource</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>pdfShowPageNumbers</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>idleTimeoutWarningString</string>
			<key>Value</key>
			<string>Please touch the screen to continue your session.</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern10ForCSSFileName10</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showPdfFilesNavigationBarRemote</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>smtpEnableSSL</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>remoteSettingsEnabled</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>KWC_LogClientEvents</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>criticalZoneLevel</string>
			<key>Value</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL1</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>smtpUserName</string>
			<key>Value</key>
			<string>ryan.kimber@vindico.net</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLabel4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName3ForURLPattern3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_remoteUpdateIndicatorMessage</string>
			<key>Value</key>
			<string>Updating. . .</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_6</string>
			<key>Value</key>
			<string>5:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_screenSaverSlideShow_url2OverlayImage</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailWhenUnpluggedInLowZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_11</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>pdfDisableZoom</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID9</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_accelerometerUpdatesFrequencyHz</string>
			<key>Value</key>
			<string>20</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL10</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>activationMode</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>pdfSizeToFitOption</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>smtpPorts</string>
			<key>Value</key>
			<string>465; 587</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showMultipageIcon</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>KWC_SiteName</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLink2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>pageReloadBackgroundColor</string>
			<key>Value</key>
			<string>255,255,255</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>manualControlOfBrightness</string>
			<key>Value</key>
			<real>1</real>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_internetConnection_fromDefaultOfflinePage_checkTimeoutInterval</string>
			<key>Value</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showLoadingProgress</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>pdfShowThumbs</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kwc_request_timeout</string>
			<key>Value</key>
			<string>300</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>KWC_xmlFilenameForRemoteSettingsControl</string>
			<key>Value</key>
			<string>settings.xml</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>KWC_LogOutcomingXMLDocuments</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_airPrinter_onlineStatusDetected</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>pdfInfiniteScrollOrientation</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_reloadBrowserAfterSleepIfPageTitleUndefined</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_browserEngine</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>showWebBrowserNavigationBarLocal</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_zapierDefaultZapURL</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_7</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailOnPower</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailOnContentUpdate</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_airPrinter_offlineStatusDetected</string>
			<key>Value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_promptToAllowHTTPSSecurityExceptionsInWKWebView</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>showPresentationFilesNavigationBarRemote</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>clButtonBackgroundColor</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>dropboxSyncEnabled</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>smtpServer</string>
			<key>Value</key>
			<string>smtp.gmail.com</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID8</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>_kp_disable_iOS_DragAndDrop_</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_logAllWebKitRequests</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName9ForURLPattern9</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>customLinksEnabled</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName2ForURLPattern2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLabel2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern8ForCSSFileName8</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>reduceBrightnessTimeInterval</string>
			<key>Value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>logRestartPlanned</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>injectCSSSnippetForSpecificURLEnabled</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logServerVersionIncompatibilityDetected</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_8</string>
			<key>Value</key>
			<string>5:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern6ForCSSFileName6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName8ForURLPattern8</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_12</string>
			<key>Value</key>
			<string>5:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin9</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showMultimediaFilesNavigationBarRemote</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logContentUpdateDownloadFailed</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>goodByePage</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern4ForCSSFileName4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID7</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>blackList</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showWebBrowserNavigationBarRemote</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailWhenUnpluggedInCriticalZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logUpdateSettingsSuccessful</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin10</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLink3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_enableDropdownsForiOS8</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>showForwardIcon</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern2ForCSSFileName2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>settingsPassCode</string>
			<key>Value</key>
			<string>1979</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID1</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>KWC_sendingUsageStatistics</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_9</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>pdfBackgroundImageFile</string>
			<key>Value</key>
			<string>0,0,0</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>homePage</string>
			<key>Value</key>
			<string>vindico.bookourspace.com/#/room/w3nnrEnJoZHNXc67N0gh</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_intervalOfCheckingMotionInSeconds</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showDocumentFilesNavigationBarLocal</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_substitutionVariableValue_0</string>
			<key>Value</key>
			<string>vindico</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showDocumentFilesNavigationBarRemote</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailOnBatteryChargeToHigherZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logPowerOff</string>
			<key>Value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>logBatteryTriggerPercentage</string>
			<key>Value</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>logNightModeUndimmedScreen</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName1ForURLPattern1</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_memorySavingMode4PDFViewer</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_collectCrashLogsForAnalysisOption</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingEnabled</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>showSiteMessage</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_internetConnection_fromOffline_startCheckTimeoutInterval</string>
			<key>Value</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailOnRemoteSettingsChange</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_applyRestrictionsToEmbeddedContent</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_0</string>
			<key>Value</key>
			<string>5:30 </string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_insertHomepageURLParametersAsJavaScriptVariables</string>
			<key>Value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_substitutionVariableValue_1</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>dropboxSharedContentFolderPath</string>
			<key>Value</key>
			<string>SharedContent</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>navBarBackgroundColor</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clButtonTextColor</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLabel5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>viewOnly</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>pdfScrollingType</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>showAddressBar</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_preloadHomepageBehindScreensaver</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName7ForURLPattern7</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_sendEventNotificationsThrough</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_13</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_highpassFilterCutoffFrequency</string>
			<key>Value</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_screenSaverSlideShow_overlayAlpha</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clearCookies</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_fadeDurationOfScreenSaverSlideShow</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>zoomDisabled</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL9</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>smtpToEmail</string>
			<key>Value</key>
			<string>ryan.kimber@vindico.net</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailWhenChargingInCriticalZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin1</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>dropboxRestrictedListOfPaths</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>externalSettingsFile</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showMultimediaFilesNavigationBarLocal</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>sv_url2MovieFile</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_substitutionVariableValue_2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>smtpFromEmail</string>
			<key>Value</key>
			<string>support@vindico.net</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLink4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_1</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clearCache</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>browseTime</string>
			<key>Value</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_transformLinksForGuidedAccess</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin8</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_allowRestrictAsynchronousURLRequests</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logBatteryAboveTriggerPercentage</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL8</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autonomousSingleAppMode</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_trackAsynchronousRequestsWhenPossible</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>cookieAcceptPolicy</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailWhenChargingInNormalZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_substitutionVariableValue_3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>customUserAgentString</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>idleTimeoutWarning</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>locationUpdateFrequency</string>
			<key>Value</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_reloadBrowserAfterSleep</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_applyReduceBrightness</string>
			<key>Value</key>
			<real>0.29999999999999999</real>
		</dict>
		<dict>
			<key>Key</key>
			<string>linksDepth</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_backgroundColorOfScreenSaverSlideShow</string>
			<key>Value</key>
			<string>0,0,0</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>localSettingsUpdatePeriod</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID10</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_logMode</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>accessJS_API</string>
			<key>Value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName6ForURLPattern6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>logContentUpdateDownloadSuccessful</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>logUpdateSettingsFailed</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName10ForURLPattern10</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL7</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>settingsShowingOption</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID10</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLabel3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_showKeyboardAutomaticallyOnFocusEvent</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_clearAppDataOnRelaunch</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_2</string>
			<key>Value</key>
			<string>5:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>logPowerOn</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>shakeSensibility</string>
			<key>Value</key>
			<real>0.10000000000000001</real>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_substitutionVariableValue_4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern9ForCSSFileName9</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>_kp_disableDefaultCalloutShownWhenTouchAndHoldTarget_</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_notifyWebViewAboutAllRedirections</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_14</string>
			<key>Value</key>
			<string>5:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showStatusBar</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_clearLocalStorageOnHomepage</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_serverRequestTimeoutPeriodForUpdateOfLocalFiles</string>
			<key>Value</key>
			<string>300</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>offDomainMessage</string>
			<key>Value</key>
			<string>Sorry, this site is not allowed.</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern7ForCSSFileName7</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>localContentUpdatePeriod</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_internetConnection_timeoutIntervalForPollRequest</string>
			<key>Value</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>textSelection</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>disableWebViewBouncing</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern5ForCSSFileName5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_internetConnection_fromOnline_checkTimeoutInterval</string>
			<key>Value</key>
			<string>300</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>KWC_HeartbeatInterval</string>
			<key>Value</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_substitutionVariableValue_5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>smtpRequiresAuth</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLink5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>idleTime</string>
			<key>Value</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>printEnabled</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>showPresentationFilesNavigationBarLocal</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailOnChangeNetworkReachabilityStatus</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_3</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showPrintIcon</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kwc_sendBatteryEventsEvery</string>
			<key>Value</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>airPrint_pageRangeOption</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_passCodeToExitAutonomousSingleAppMode</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_showMultipleTabs</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>sleepSchedullerEnabled</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_showRemoteUpdateIndicator</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID7</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>lowZoneLevel</string>
			<key>Value</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificCSSFileName5ForURLPattern5</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>localContentUpdateUrl</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>whiteList</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>customConnectionProblemPage</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>navBarIconsColorScheme</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLabel1</string>
			<key>Value</key>
			<string>Custom Links</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_updateIntervalOfScreenSaverSlideShow</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>logNightModeDimmedScreen</string>
			<key>Value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLogin7</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL4</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_4</string>
			<key>Value</key>
			<string>5:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>enabledKWC</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>showBackIcon</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLabel6</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_10</string>
			<key>Value</key>
			<string>5:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingPasswordID8</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kp_airPrint_setNumberOfCopiesOption</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>updateOfLocalFilesEnabled</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingLoginID2</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern3ForCSSFileName3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>emailWhenChargingInLowZone</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logUpdateSettingsManual</string>
			<key>Value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>time_15</string>
			<key>Value</key>
			<string>23:30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>dropboxLogSyncSessions</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>showConnectionProblemPage</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>pageLoadTime</string>
			<key>Value</key>
			<string>30</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showPdfFilesNavigationBarLocal</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>specificURLPattern1ForCSSFileName1</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>autofillingURL3</string>
			<key>Value</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>triggerOnChangeEventForAutofilling</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>logMotionDetected</string>
			<key>Value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>allowAutoLock</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>clLink1</string>
			<key>Value</key>
			<string>http://docs.kioskproapp.com/article/802-navigation-bar#custom-links</string>
		</dict>
	</array>
</dict>
</plist>
